{% extends "network/layout.html" %}

{% block body %}
    {% if type == 'index' %}
    <div id="post_form_container">
        <form action='' method='post' id='post_form_html'>
            {% csrf_token %}
            {{post_form}}
            <input type='submit' value="Post" id='post_button'>
        </form>
    </div>
    {% endif %}
    <div id='feed'>
    {% for post in page_obj %}
        <div class='post'>
            <div class='poster'>
                <p class='poster_text'>
                <a href='{% url 'profile'  post.poster.id %}' class='profile_link'>{{post.poster}}</a> 
                | {{post.timestamp}}
                </p>
            </div>
            <hr>
            <div class='post_body' id='post_div_{{ post.id }}'>
                <p class='post_body_text' id='post_{{ post.id }}'>{{post.body|linebreaksbr}}</p>
            </div>
            <hr>
            <div class='post_likes'>
                {% if request.user.is_authenticated %}
                    {% if request.user in post.likes.all %}
                        <button class='like_button' id='like_button_{{post.id}}'>Unlike</button>
                        <p class='likes' id='likes_{{post.id}}'>{{ post.likes.all.count }}</p>
                        {% elif request.user not in post.likes.all %}
                        <button class='like_button' id='like_button_{{post.id}}'>Like</button>
                        <p class='likes' id='likes_{{post.id}}'>{{ post.likes.all.count }}</p>
                    {% endif %}
                {% else %}
                    <p class='likes' id='likes_{{post.id}}' style ="position:static/">{{ post.likes.all.count }}</p>
                {% endif %}
                {% if request.user == post.poster %}
                <button class='edit_button' id='edit_button_{{ post.id }}'>Edit Post</button>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <nav aria-label="Posts page navigation ">
        <ul class="pagination">
            {% if page_obj.has_previous%}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Previous</span></li>
            {% endif %}
            <li class="page-item active"><span class="page-link" href="#">{{ page_obj.number }}</a></li>
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number}}</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Next</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Next</span></li>
            {% endif %}
        </ul>
    </nav>
    </div>

{% endblock %}
