{% extends "network/layout.html" %}

{% block body %}
    <div id="post_form_container">
        <form action='' method='post' id='post_form_html'>
            {% csrf_token %}
            {{post_form}}
            <input type='submit' value="Post" id='post_button'>
        </form>
    </div>
    <div id='feed'>
    {% for post in page_obj %}
        <div class='post'>
            <div class='poster'>
                <p class='poster_text'>
                <a href='{% url 'profile'  post.poster.id %}' class='profile_link'>{{post.poster}}</a> 
                | {{post.timestamp}}
                </p>
            </div>
            <hr>
            <div class='post_body'>
                <p class='post_body_text'>{{post.body}}
            </div>
            <hr>
            <div class='post_likes'>
                <button class='like_button' id='like_button_'>Like</button>
                <p class='likes'>{{post.likes}}</p>
                {% if request.user == post.poster %}
                <button class='edit_button' id='edit_button_{{ post.id }}'>Edit Post</button>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    </div>

{% endblock %}