{% extends "network/layout.html" %}

{% block body %}
    <div id="post_form_container">
        <form action='' method='post' id='post_form_html'>
            {% csrf_token %}
            {{post_form}}
            <input type='submit' value="Post" id='post_button'>
        </form>
    </div>
    <div id='feed'>
    {% for post in posts %}
        <div class='post'>
            <div class='poster'>
                <p>
                <a href=''>{{post.poster}}</a> 
                |{{post.timestamp}}
                </p>
            </div>
            <div class='post_body'>
                <p>{{post.body}}
            </div>
            <div class='post_likes'>
                <button class='like_button' id='like_button_'>Like</button>
                <p class='likes'>{{post.likes}}</p>
            </div>
        </div>
    {% endfor %}


{% endblock %}