{% extends "network/layout.html" %}
{% block body %}


<div class='profile_info'>
<h1>{{user.username}} | Followers: {{followers}} | Following: {{following}}</h1>
{% if follow %}
<form display='none' id='follow_form'>
  <input name='follow' value='unfollow' type='hidden' disabled>
</form>
<button form='follow_form' type='submit' action='{% url 'profile' user.username %}' method='put' class='follow_button'>Unfollow</button>
{% else %}
<form display='none' id='follow_form'>
  <input name='follow' value='follow' type='hidden' disabled>
</form>
<button form='follow_form' type='submit' action='{% url 'profile' user.username %}' method='put' class='follow_button'>Follow</button>
{% endif %}
</div>


<div id='feed'>
{% for post in posts %}
  <div class='post'>
      <div class='poster'>
          <p class='poster_text'>
          <a href='{% url 'profile'  post.poster %}' class='profile_link'>{{post.poster}}</a> 
          |{{post.timestamp}}
          </p>
      </div>
      <hr>
      <div class='post_body'>
          <p class='post_body_text'>{{post.body}}
      </div>
      <hr>
      <div class='post_likes'>
          <button class='like_button' id='like_button_'>Like</button>
          <p class='likes'>{{post.likes}}</p>
      </div>
  </div>
{% endfor %}
</div>

{% endblock %}