
hr {
  margin-top:0
}
.hidden {
  display: none;
}
#post_form_container {
  padding: 20px;
  justify-content: center;
  display:flex;
  background-color: whitesmoke;
}
#id_body {
  border-radius:5px 5px 0 0 ;
  width: 400px;
  transition-duration: 1s;
  resize: none;
  height: 50px;
  display:block;
  border-bottom:none;
  
}
#post_form_html {
  display:flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 5px gray;
  border-radius: 5px;
}
#post_button {
  border-radius: 0 0 5px 5px;
  border:1px solid gray;
  border-top:none;
  position: relative;

}
#id_body:focus {
  width: 500px;
  height: 200px;
  font-size:larger;
  padding: 10px 30px 10px 30px;
  outline:none
}
#feed {
  padding:0 300px 0 300px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  margin-bottom: 100px;
}
.post {
  background-color: white;
  box-shadow:0 0 5px gray;
  width:500px;
  height:auto;
  min-height: 100px;
  margin:10px;
  overflow-wrap: break-word;
  padding: 5px 10px 0 10px;
  border-radius:7px;
  border: 1px solid gray;
}
.poster{
  font-size: smaller;
  margin-bottom: none;
}
.poster_text {
  margin-bottom: 0;
}
.post_body {
  font-size: larger;
}
.post_body_text {
  margin: 0 0 20px 0;
}
.post_likes {
  bottom:0px;
  height:25px;
  position:relative;
  display:flex;
  flex-direction: row;
  margin-top:0;
}
.like_button {
  height:25px;
  border:none;
  border-radius:0 5px 0 5px;
  position:absolute;
  left:-10px;
  background-color: transparent;
  transition-duration: 0.5s;
}
.like_button:hover {
  transform: scale(1.10);
  color: blue;
  border: none
}
.like_button:active {
  transform: scale(1.25);
  color: blue;
  border: none;
  outline: 0;
}
.like_button:focus {
  outline: none;
}
.likes {
  position:absolute;
  left:30px;
  padding-left:5px;
}
.profile_link {
  color:black;
  transition-duration: 0.5s;
}
.profile_link:hover {
  color:black;
  text-decoration: none;
  color:blue;
  transform: scale(2);
}

.profile_info {
  display:block;
  height: 150px;
  width:100%;
  padding: 0 50px 0 50px;
}

.follow_button{
  border: none;
  border-radius: 5px;
  background-color: rgb(80, 80, 255);
  color: white;
  transition-duration: 0.5s;
}

.follow_button:hover {
  background-color: blue;
}

.follow_button:active {
  transform: scale(1.25);
  opacity: 0.7;
}
.edit_button {
  position: absolute;
  right: 10px;
  bottom: 7px;
  border: none;
  border-radius: 5px;
}